/* ---------- CUSTOM PROPERTIES ---------- */
:root {
    --clr-white: #F6FBEE;
    --clr-grey: #9A9A92;
    --clr-black: #35363A;
}

/* ---------- RESET ---------- */
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    max-width: 100%;
}

.depth {
    box-shadow: 1px 1px 7px var(--clr-grey);
}

.depth-dark {
    box-shadow: 1px 1px 5px #000;
}

body {
    font-family: 'Ribeye', cursive;
    text-align: center;
    color: var(--clr-black);
    background-color: var(--clr-white);
}

button,
input {
    font: inherit;
}

.carousel-item > img {
    max-height: 80vh;
}

h1,
img,
.slide-indicator,
toggle {
    margin-bottom: .5rem;
}

/* ---------- COMPONENTS ---------- */
button {
    font-size: clamp(1rem, 0.2500rem + 3.3333vw, 2rem);
    background-color: var(--clr-white);
    color: var(--clr-black);
    padding: .5rem .7rem;
    border: none;
    border-radius: 50%;
    transition: all .5s;
}

button:hover,
button:focus {
    background-color: #9A9F9266;
    transform: scale(1.2);
}

button:active {
    background-color: var(--clr-grey);
    transform: scale(1);
}

button,
.checkbox-label {
    cursor: pointer;
}

.slide-indicator {
    display: flex;
    width: 500px;
    height: 1rem;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}

.slide-indicator > i {
    color: var(--clr-grey);
    font-size: 16px;
}

.dark-mode {
    background-color: var(--clr-black);
    color: var(--clr-white);
}

.checkbox {
    display: none;
    position: absolute;
}

.checkbox-label {
    background-color: var(--clr-grey);
    color: var(--clr-white);
    width: 4rem;
    height: 2rem;
    border-radius: 50%;
    padding: .5rem .9rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.checkbox-label .ball {
    background-color: #484840;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    top: .2rem;
    left: .4rem;
    border-radius: 50%;
    transition: transform .2s linear;
}

.checkbox:checked + .checkbox-label .ball {
    transform: translateX(24px);
}

/* ---------- CAROUSEL ---------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max(70vw, 800px);
    margin-inline: auto;
}

.carousel {
    /* width: clamp(250px, 70vw, 800px); */
    position: relative;
}

.carousel-item,
.carousel-item-hidden {
    display: none;
    width: 700px;
    margin-inline: auto;
}

.carousel-item-visible {
    display: block;
}

.carousel-actions {
    width: 60%;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}